

.main-content{
}
.card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 300px;
    width: 300px;
    padding: 13px;
}
.pages{
    border: 1px solid grey;
    margin-bottom: 16px;
    border-radius: 41px;
    width: 605px;
    margin-left: 349px;
}
.pages nav {
    margin-top: 14px;
    /* margin-left: 307px */
}
.pagination-lg .page-item:first-child .page-link {
    /* border-top-left-radius: .3rem; */
    /* border-bottom-left-radius: .3rem; */
    margin-right: 9px;
    /* border-radius: 33px; */
    height: 53px;
    width: 56px;
    text-align: center;
    border-radius: 50%;
    /* margin-right: 0px; */
    /* margin-left: 3px; */
    background: green;
}
.pagination-lg .page-item:nth-child(2) .page-link {
    /* border-top-left-radius: .3rem; */
    /* border-bottom-left-radius: .3rem; */
    margin-right: 9px;
    /* border-radius: 33px; */
    height: 53px;
    width: 56px;
    text-align: center;
    border-radius: 50%;
    
}
.pagination-lg .page-item:nth-child(3) .page-link {
    /* border-top-left-radius: .3rem; */
    /* border-bottom-left-radius: .3rem; */
    margin-right: 9px;
    /* border-radius: 33px; */
    height: 53px;
    width: 56px;
    text-align: center;
    border-radius: 50%;
    
}
.pagination-lg .page-item:nth-child(4) .page-link {
    /* border-top-left-radius: .3rem; */
    /* border-bottom-left-radius: .3rem; */
    margin-right: 9px;
    /* border-radius: 33px; */
    height: 53px;
    width: 56px;
    text-align: center;
    border-radius: 50%;
    
}
.pagination-lg .page-item:nth-child(5) .page-link {
    /* border-top-left-radius: .3rem; */
    /* border-bottom-left-radius: .3rem; */
    margin-right: 9px;
    /* border-radius: 33px; */
    height: 53px;
    width: 56px;
    text-align: center;
    border-radius: 50%;
    
}
.pagination-lg .page-item:nth-child(6) .page-link {
    /* border-top-left-radius: .3rem; */
    /* border-bottom-left-radius: .3rem; */
    margin-right: 9px;
    /* border-radius: 33px; */
    height: 53px;
    width: 56px;
    text-align: center;
    border-radius: 50%;
    
}
.pagination-lg .page-item:nth-child(7) .page-link {
    /* border-top-left-radius: .3rem; */
    /* border-bottom-left-radius: .3rem; */
    margin-right: 9px;
    /* border-radius: 33px; */
    height: 53px;
    width: 56px;
    text-align: center;
    border-radius: 50%;
    
}
.pagination-lg .page-item:nth-child(8) .page-link {
    /* border-top-left-radius: .3rem; */
    /* border-bottom-left-radius: .3rem; */
    margin-right: 9px;
    /* border-radius: 33px; */
    height: 53px;
    width: 56px;
    text-align: center;
    border-radius: 50%;
    
}
.pagination-lg .page-item:nth-child(9) .page-link {
    /* border-top-left-radius: .3rem; */
    /* border-bottom-left-radius: .3rem; */
    margin-right: 9px;
    /* border-radius: 33px; */
    height: 53px;
    width: 56px;
    text-align: center;
    border-radius: 50%;
    
}